body {
    /* background-color: darkgray; */
}
/* ----------------------HeaderCartNotification---------------------------- */
.bell-notification::after{
   content: attr( current-count);
   position: absolute;
   top: 20px;
   /* left: -10%; */
   padding-left: 8px;
   width: 16px;
   height: 21px;
   border-radius: 50%;
   background-color: red;
   font-size: 15px;
   /* border: 10px solid black; */
   /* display: flex;
   justify-content: center;
   align-items: center; */
}

header {
    width: 100%;
    height: 72px;
    background-size: cover;
    background-attachment: fixed;
}


#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2874f0;
    width: 100%;
    height: 80px;
    position: fixed;
    /* top: 0; */
    /* border-bottom: 1px solid rgb(0, 0, 0, 0.2); */
    /* box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px; */
}
.box {
    color: #fff;
    width: 30%;
    height: 20px;
    background-color: #fff;
    border-radius: 1px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;


}

.box>i {
    font-size: 15px;
    color: #2874f0;
}

.box>input {
    background-color: white;
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font-size: 13px;
    padding-left: 20px;
}



#loginbtn>button:nth-child(1){
    background-color: #ffffff;
    
    font-size: 11px;
    padding: 5px;
    width: 100px;
  
    color: #f02828;
    border-radius: 4px;
    /* border: 1px solid #dbdbdb; */
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}
#loginbtn>button:hover{
    background-color: rgb(13, 186, 192);
  color: rgb(17, 8, 8);
}

#loginbtn>button:nth-child(2){
    background-color: #2874f0;
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

/* #loginbtn>button{
    color: #ffffff;
    background-color:#2874f0;
 padding: 5px;
 width: 100px;
 border: none;
 font-weight: 750;
 cursor: pointer;
} */
/* #loginbtn>button{
    border: 1px solid red;
    color: #ffffff;
    background-color:#2874f0;
 padding: 5px;
 width: 100px;
 border: none;
 font-weight: 750;
 cursor: pointer;
} */

/* border: 1px solid #dbdbdb; */
/* -------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}




#navbar>div>a>img {
    width: 70%;
    height: 50px;
    margin-left: 60px;
}

#AchorTag {
    margin-right: 30px;
} 

#AchorTag>span{
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;

}
#AchorTag>span:hover{
  background-color: rgb(13, 186, 192);
  color: rgb(17, 8, 8);
  border-radius: 8px;
}


/* --------------body------------------------- */
#TopproHeader {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    margin-bottom: 20px;
}

#TopproHeader>div>div>img {
    width: 100%;
    height: 80px;
    cursor: pointer;
}

#TopproHeader>div>span{
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color:#000000ad;
    font-weight: 550;
    margin-left: 10px;
    cursor: pointer;
}