
body{
    background-color: rgb(241, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}
/* h1{
    color: red;
} */
#GalleryFlex{
    margin-top: 20px;
    width: 100%;
    /* height: 330px; */
    background-color: white;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
#GalleryFlex>div{
   /* border: 1px solid black; */
   height: 300px;
   width: 100%;
   /* margin: auto; */
   /* margin: 10px; */
}
#GalleryFlex>div>img{


}
.backURL{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90");
    width: 100%;
    height: 70px;
    /* background-position:0px 0px  bottom; */
      background-position: 0px 180px, right 3em bottom 2em;
    background-repeat: no-repeat;
  
}
.backURL>div{
    /* border: 1px solid black; */
    width: 60%;
    /* margin: auto; */
    height: 200px;
        margin-top: 60px;
}
.boxContent{
    text-align: center;
    margin: auto;
    
}
.boxContent>h2{
    font-weight: 100;
    
}
.boxContent>button{
    cursor: pointer;
    margin-top: 18px;
   padding: 8px;
   background-color: #2874f0;
   color: white;
   font-weight: 600;
   border: none;
   box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
   
}
.imgGallery{
    margin: auto;
    width: 80%;
    /* margin-top: 20px; */
    cursor: pointer;
}
.imgGallery>img:hover{
    transform: scale(0.9);
}
.ContentGallery{
    width: 70%;
    margin: auto;
    line-height: 25px;
    text-align: center;
    margin-top: 25px;
}
/* #TopCamera{
    margin-top: 20px;
   
} */
.ContentGallery>h4{
    font-size: 15px;
    /* font-size: 14px; */
    font-weight: 500;
}
.ContentGallery>h5{
   color: #388e3c;
    font-weight: 500;
}
.ContentGallery>h6{
   color: #a9a9a9;
    font-weight: 500;
}
/* ------------------------HomeBanner------------------------------- */

/* .container{
    width: 100%;
    height: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top :50%;
    left: 50%;
    border-radius: 8px;
    margin-top: 80px;
    overflow: hidden;
  } */
  /* .wrapper{
      width: 100%;
      display: flex;
      animation: slide 10s infinite;
  }
  img{
      width: 100%;
  } */
  /* @keyframes slide{
      0%{
          transform: translate(0);
      }
      25%{
          transform: translate(0);
      }
      30%{
          transform: translate(-100%);
      }
      50%{
          transform: translate(-100%);
      }
      55%{
          transform: translate(-200%);
      }
      75%{
          transform: translate(-200%);
      }
      80%{
          transform: translate(-300%);
      }
      100%{
          transform: translate(-300%);
      }
  } */